*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#ed61a7,#6a9eed); 
    color: #fff;   
    padding-top: 4%;
    padding-left: 10%;
} 
.container h1{
    display:flex;
    align-items: center;
    font: size 60px;
    font-weight: 600;
}
.container h1 img{
    width: 100px;
}
.container button img{
    width: 36px;
    margin-right: 8px;
}
.container button{
    display:flex;
    align-items: center;
    background: linear-gradient(#933fdd,#4b0b84);
    color:#fff;
    font-size:20px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding:15px 25px;
    margin: 30px 0 20 px;
    cursor:pointer;



}

.notes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box{
    position:relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color:#333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;

}
.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor:pointer;


}
